body {
    background-image: url(https://i.imgur.com/G51dUjV.png);
    background-position: fixed;
    font-family: 'VT323';
    text-align: center;
}

#container {
    background-color: white;
    margin: 0 auto;
    width: 600px;
    padding: 3%;
}

#grid {
    width: 493px;
    height: 493px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5%;
}

.holes {
    width: 150px;
    height: 150px;
    position: relative;
    float: left;
    margin: 5px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
}

.holes:hover {
    cursor: pointer;
}

h1 {
    font-size: 3em;
}

#box4, #box7 { 
    clear: left;
    float: left;
}

#clickables {
    margin: 0 auto;
    margin-bottom: 3%;
    width: 150px; 
}

.button {
    width: 50px;
    height: 30px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10%;
    background-color: white;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

#description {
    font-size: 1.5em;
}

#dog {
    font-size: 4em;
}

.selected {
    background-image: url(http://orig01.deviantart.net/d34d/f/2015/317/9/b/_f2u____annoying_dog_pixel_doll_by_leokatana-d9gltid.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
}

.scoreTime {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 7%;
}

#score, #timer, #high {
    font-size: 2em;
    width: 200px;
    float: left;
    margin-bottom: 5%;
}

#annoying {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    color: red;
}

@-webkit-keyframes blinker {
    50% {opacity: 0.0;}
}

.stats {
    position: relative;
}
